/* BASICS*/
body {
  box-sizing: border-box;
}

/* LAYOUT*/
/* LAYOUT HEADER*/
.page-wrapper {
  width: 1400px;
  margin: 0 auto;
  background-color: #fff3dd;
}

header {
  width: 100%;
  height: 838px;
  background-image: url("../img/hero_w_border.jpg");
  background-repeat: no-repeat;
}

.title-block {
  width: 70%;
  margin-left: 100px;
  padding-top: 62px;
  float: left;
}

nav {
  float: right;
  margin-top: 5em;
}

nav li {
  width: 150px;
  height: 1em;
  background-color: #b4ccce;
  margin-bottom: 1em;
  top: 0px;
}

/* LAYOUT PORTFOLIO*/
main {
  padding: 0 100px 0 100px;
}
.project-unit {
  width: 545px;
  padding-bottom: 1.5em;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.port-row:after {
  content: "";
  display: block;
  clear: both;
}

.img-holder {
  width: 545px;
  height: 360px;
}

#holstee-img {
  padding: 0 140px 0 140px;
}
.project-unit p {
  margin: 1em 0 .5em 0;
}
.h-rule {
  width: 100%;
  height: 4px;
  background-color: #404e74;
  margin-bottom: 30px;
}

/* LAYOUT ABOUT*/
.sabrina {
  height: 680px;
  background-image: url("../img/AboutBackground.jpg");
  background-repeat: no-repeat;
  padding-top: 50px;
}
.sabrina img {
  padding-left: 180px;
}
.about {
  width: 545px;
  float: right;
  padding: 50px 100px 100px 100px;
}

/* LAYOUT FOOTER*/
.icons {
  display: flex;
  padding: 20px 500px 50px 500px;
  justify-content: space-around;
}
footer p {
  text-align: center;
  padding-bottom: 50px;
}




/* FONTS*/
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
body {
  line-height: 1.5em;
  color: #0d142b;
}
h1, h3 {
  font-family: 'Copse', serif;
  font-weight: normal;
}
h1 {
  color: #fff;
  font-size: 90px;
}
h2 {
  color: #fff3dd;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 1.25em;
  margin-bottom: 2.2em;
}
h3 {
  font-size: 69px;
  text-align: center;
  color: #404e74;
  margin: 50px;
}
h4, h5 {
  font-size: 24px;
  color: #404e74;
  margin-bottom: 12px;
}
h4 {
  font-weight: 700;
}
h5 {
  font-weight: 400;
}
.title-block p {
  color: #fff3dd;
  font-size: 28px;
  width: 50%;
  line-height: 1.5em;
}
nav li {
  padding: .75em;
}
a {
  text-decoration: none;
}
nav a {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: #0d142b;
}
.sabrina, .sabrina h3, .sabrina h4 {
  color: #fff;
}

/*IFRAME PLAY*/

iframe {
  margin-left: 95px;
  object-fit: contain;
  object-position: center;
}
